<div class="row">
  <div class="text-center mb-5 col-sm-12">
    <h2>フレーズを残そう！</h2>
  </div>
  <aside class="col-sm-6">
    <%= form_with(model: @author, local: true) do |f| %>
      <%= f.label :name, '著者名' %>
      <%= f.select :name, Author.all.map{ |author| author.name } %>
      <%= f.submit '作品名入力へ', class: 'col-sm-3 offset-sm-3 btn btn-primary btn-block' %>
    <% end %>
    
    <!-- %= select_tag :author_id, options_from_collection_for_select(Author.all, :id, :name) %-->
  </aside>
  <div class="col-sm-6">
    <%= form_with(model: @author, local: true) do |f| %>
      
      <div class="form-group">
        <%= f.label :name, '著者一覧にない場合はこちらを入力' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <%= f.submit '作品名入力へ', class: 'col-sm-3 offset-sm-3 btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>