<div class="row">
  <div class="text-center mb-5">
    <h2>フレーズ詳細</h2>
  </div>
  <div class="col-sm-12">
    <h5>著者名</h5>
    <p><%= @author.name %></p>
  </div>
  <div class="col-sm-12">
    <h5>作品名</h5>
    <p><%= @book.name %></p>
  </div>
  <div class="col-sm-12">
    <h5>フレーズ</h5>
    <p><%= @phrase.content %></p>
  </div>
  <div class="col-sm-12">
    <h5>コメント</h5>
    <p><%= @phrase.comment %></p>
  </div>
  <div class="col-sm-12">
    <%= link_to 'フレーズ修正', edit_phrase_path(@phrase) %>
  </div>
  <div class="col-sm-12">
    <%= link_to 'フレーズを消去する', @phrase, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }  %>
  </div>
</div>