<div class="row">
  <div class="text-center mb-5 col-sm-12">
    <h2>フレーズを残そう！</h2>
  </div>
  <aside class="col-sm-6">
    <%= form_with(model: @book, local: true) do |f| %>
      <%= hidden_field_tag :author_id, params[:author_id] %>
      <%= f.label :name, '作品名' %>
      <%= f.select :name, Book.all.map{ |book| book.name } %>
      <%= f.submit 'フレーズ入力へ', class: 'col-sm-3 offset-sm-3 btn btn-primary btn-block' %>
    <% end %>
    <!--%= select_tag :book_id, options_from_collection_for_select(Book.all, :id, :name) %-->
  </aside>
  <div class="col-sm-6">
    <%= form_with(model: @book, local: true) do |f| %>
      <div class="form-group">
        <%= hidden_field_tag :author_id, params[:author_id] %>
        <%= f.label :name, '作品一覧にない場合はこちらを入力' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <%= f.submit 'フレーズ入力へ', class: 'col-sm-3 offset-sm-3 btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>